* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../assets/destination/background-destination-desktop.jpg');
    background-repeat: no-repeat;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 192px;
    color: white;
}
.logo {
    margin-left: 100px;
}
.nav-head {
    display: flex;
    align-items: center;
    height: 50%;
}
.nav-list {
    display: flex;
    width: 830px;
    height: 100%;
    background-color: rgba(255, 255, 255, .07);
    backdrop-filter: blur(15px);
    justify-content: space-around;
    align-items: center;
}
.nav-list a {
    text-decoration: none;
    font-size: 16px;
    font-family: 'Barlow Condensed', sans-serif;
    color: white;
    padding-bottom: 36px;
    padding-top: 36px;
}
.nav-list a:hover {
    border-bottom: 2px solid white;
}
.active {
    border-bottom: 2px solid white;
}

.menu {
    display: none;
}

.preview {
    float: left;
    margin-top: 5%;
    margin-left: 15%;
}
.preview h2 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    font-size: 28px;
    letter-spacing: 4.725px;
    color: white;
}
.preview h2 b {
    color: rgba(255, 255, 255, 1);
    font-size: 28px;
    letter-spacing: 4.725px;
    opacity: .25;
}
.preview img {
    margin-top: 20%;
    margin-left: 5%;
}

.main {
    float: right;
    width: 445px;
    margin-top: 10%;
    margin-right: 5%;
}
.destination {
    display: flex;
    justify-content: space-between;
    width: 250px;
}
.destination a {
    text-decoration: none;
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 2.7px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.destination a:hover {
    border-bottom: 2px solid white;
}
article {
    margin-top: 50px;
}
.description {
    padding-bottom: 80px;
    border-bottom: 1px solid rgba(56, 59, 75, 1);
}
.description h1 {
    font-family: 'Bellefair', serif;
    font-weight: 400;
    font-size: 100px;
    color: white;
    margin-bottom: 20px;
}
.description p {
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: rgba(208, 214, 249, 1);
}
.detail-left {
    float: left;
    margin-top: 25px;
}
.detail-right {
    float: right;
    margin-top: 25px;
    margin-right: 50px;
}
.detail-left p, .detail-right p {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2.36px;
    color: rgba(208, 214, 249, 1);
    margin-bottom: 20px;
}
.detail-left h2, .detail-right h2 {
    font-family: 'Bellefair', serif;
    font-weight: 400;
    font-size: 28px;
    color: white;
}
/* tablet view */
@media (max-width: 768px) {
    body {
        background-image: url('../assets/destination/background-destination-tablet.jpg');
        background-repeat: no-repeat;
    }
    header {
        height: fit-content;
    }
    .nav-list {
        width: 450px;
    }
    .preview {
        float: none;
        margin-top: 5%;
        margin-left: 0;
        width: 100%;
    }
    .preview h2 b {
        margin-left: 5%;
        font-size: 20px;
    }
    .preview h2 {
        font-size: 20px;
    }
    .preview img {
        display: block;
        width: 300px;
        height: 300px;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
    }
    .main {
        float: none;
        margin: 5% auto;
        width: 80%;
        text-align: center;
    }
    .destination {
        justify-content: space-between;
        margin: 0 auto;
    }
    .description {
        padding-bottom: 50px;
    }
    .description h1 {
        font-size: 80px;
    }
    .description p {
        font-size: 16px;
    }
    .detail-left {
        margin-left: 15%;
    }
    .detail-right {
        margin-right: 15%;
    }
}
/* mobile view */
@media (max-width: 375px) {
    body {
        background-image: url('../assets/destination/background-destination-mobile.jpg');
        overflow-x: hidden;
    }
    .logo {
        margin: 20px;
    }
    .nav-list {
        position: absolute;
        top: 0;
        right: 0;
        width: 60%;
        height: 100vh;
        padding: 40% 0;
        z-index: 1;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        transform: translateX(100%);
        transition: .5s;
    }
    .slide {
        transform: translateX(0);
    }
    .nav-list a {
        padding: 20px 0;
        margin-left: 20px;
    }
    .nav-list a:hover {
        border-bottom: none;
    }
    .nav-list .active {
        border-bottom: none;
    }
    .menu {
        display: block;
        position: relative;
        z-index: 2;
    }
    .menu i {
        margin-right: 30px;
        font-size: 2em;
        cursor: pointer;
    }
    .preview {
        margin: 5% auto;
        text-align: center;
    }
    .preview h2, .preview h2 b {
        font-size: 16px;
    }
    .preview img {
        width: 170px;
        height: 170px;
        margin-top: 10%;
    }
    .main {
        width: 90%;
    }
    article {
        margin: 5% auto;
        width: 100%;
    }
    .description h1 {
        font-size: 56px;
    }
    .description p {
        font-size: 15px;
    }
    .detail-left {
        float: none;
        margin: 5% auto;
    }
    .detail-right {
        float: none;
        margin: 10% auto;
    }
}