/* Reset dan Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: url('../assets/technology/background-technology-desktop.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 192px;
    color: white;
}

.logo {
    margin-left: 100px;
}

.nav-head {
    display: flex;
    align-items: center;
    height: 50%;
}

.nav-list {
    display: flex;
    width: 830px;
    height: 100%;
    background-color: rgba(255, 255, 255, .07);
    backdrop-filter: blur(15px);
    justify-content: space-around;
    align-items: center;
}

.nav-list a {
    text-decoration: none;
    font-size: 16px;
    font-family: 'Barlow Condensed', sans-serif;
    color: white;
    padding: 36px 0;
}

.nav-list a:hover, .active {
    border-bottom: 2px solid white;
}

.menu {
    display: none;
}

/* Preview Section */
.preview {
    margin-top: 5%;
    margin-left: 10%;
}

.preview h2 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    font-size: 28px;
    letter-spacing: 4.725px;
    color: white;
}

.preview h2 b {
    color: rgba(255, 255, 255, 1);
    font-size: 28px;
    letter-spacing: 4.725px;
    opacity: .25;
}

.image {
    position: relative;
    right: 0;
    bottom: -50px;
    float: right;
}

/* Main Content */
.main {
    width: 100%;
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 300px;
    margin-top: 200px;
    margin-left: 7%;
    float: left;
}

.navigation div {
    display: flex;
    width: 70px;
    height: 70px;
    background-color: rgba(255, 255, 255, .25);
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, .25);
    font-size: 32px;
    font-family: 'Bellefair', serif;
    font-weight: 400;
    letter-spacing: 2px;
    color: white;
    cursor: pointer;
}

.navigation div:hover, .navigation div.active {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(11, 13, 23, 1);
}

.number {
    margin: auto;
}

.description {
    display: inline-block;
    width: 470px;
    margin-top: 150px;
    margin-left: 5%;
}

.term {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 2.7px;
    color: rgba(208, 214, 249, 1);
    margin-bottom: 20px;
}

.description h1 {
    font-family: 'Bellefair', serif;
    font-weight: 400;
    font-size: 56px;
    color: white;
    margin-bottom: 40px;
}

.description p {
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: rgba(208, 214, 249, 1);
    line-height: 32px;
}

/* Tablet View */
@media (max-width: 768px) {
    body {
        background-image: url('../assets/technology/background-technology-tablet.jpg');
    }
    header {
        height: fit-content;
    }
    .nav-list {
        width: 450px;
    }
    .preview {
        float: none;
        margin-top: 5%;
        width: 100%;
    }
    .main {
        margin-top: 450px;
    }
    .navigation {
        float: none;
        flex-direction: row;
        height: fit-content;
        width: 40%;
        margin: 5% auto;
    }
    .description {
        display: block;
        width: 80%;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 20px;
    }
}

/* Mobile View */
@media (max-width: 375px) {
    body {
        background-image: url('../assets/technology/background-technology-mobile.jpg');
        overflow-x: hidden;
    }
    .logo {
        margin: 20px;
    }
    .nav-list {
        position: absolute;
        top: 0;
        right: 0;
        width: 60%;
        height: 100vh;
        padding: 40% 0;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        transform: translateX(100%);
        transition: .5s;
    }
    .slide {
        transform: translateX(0);
    }
    .preview {
        margin: 5% auto;
        text-align: center;
    }
    .image {
        width: 375px;
    }
    .main {
        margin-top: 220px;
    }
    .navigation div {
        width: 40px;
        height: 40px;
        font-size: 16px;
    }
    .description {
        width: 90%;
    }
    .term {
        font-size: 14px;
    }
    .description h1 {
        font-size: 24px;
    }
    .description p {
        font-size: 15px;
        line-height: 25px;
    }
}
